absl-py==1.4.0
aiofiles==23.1.0
aioflask==0.4.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
asn1crypto==1.5.1
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
audioread==3.0.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
bidict==0.22.1
bleach==4.1.0
blobfile==2.0.1
boltons==23.0.0
Bottleneck==1.3.6
braceexpand==0.1.7
brotlipy==0.7.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.0.12
chromadb==0.3.21
click==8.1.3
click-log==0.4.0
clickhouse-connect==0.5.16
colorama==0.4.6
colored==1.4.4
contourpy==1.0.7
cryptography==3.4.8
cycler==0.11.0
dataclasses-json==0.5.7
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.6
diskcache==5.6.1
distlib==0.3.6
dnspython==2.4.0
docutils==0.19
dotty-dict==1.3.1
duckdb==0.7.1
eliot==1.14.0
eliot-tree==21.0.0
entrypoints==0.4
et-xmlfile==1.1.0
evals==0.1.1
eventlet==0.33.3
executing==0.8.3
fastapi==0.92.0
fastjsonschema==2.15.1
ffmpy==0.3.0
filelock==3.12.2
fire==0.5.0
Flask==2.2.2
Flask-Cors==3.0.10
Flask-SocketIO==5.3.4
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.3.0
ftfy==6.1.1
gitdb==4.0.10
GitPython==3.1.31
glfw==2.2.0
google-api-python-client==2.83.0
google-auth==2.17.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-speech==2.19.0
googleapis-common-protos==1.57.0
gotrue==1.0.1
gradio==3.20.0
greenlet==2.0.2
greenletio==0.10.0
griffe==0.27.1
grpcio==1.53.0
grpcio-status==1.53.0
guardrails-ai==0.1.6
h11==0.14.0
hnswlib==0.7.0
httpcore
httplib2==0.22.0
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.13.3
identify==2.5.24
idna==3.4
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==6.0.0
importlib-resources==5.12.0
invoke==1.7.3
ipdb==0.13.11
ipykernel==6.9.1
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
iso8601==1.1.0
itsdangerous==2.0.1
jaraco.classes==3.2.3
jedi==0.18.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyring==23.13.1
kiwisolver==1.4.4
langchain==0.0.115
langdetect==1.0.9
linkify-it-py==2.0.0
llama-cpp-python==0.1.71
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==0.8.4
mock==5.0.1
monotonic==1.6
more-itertools==9.1.0
mpmath==1.3.0
multidict==6.0.4
mypy==1.1.1
mypy-extensions==1.0.0
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.3.0
nest-asyncio==1.5.5
netifaces==0.10.6
networkx==3.0
ninja==1.11.1
nltk==3.8.1
nodeenv==1.8.0
notebook==6.4.11
numexpr==2.8.3
numpy==1.24.1
oauthlib==3.2.2
open-clip-torch==2.10.1
openai==0.27.4
openpyxl==3.1.1
orjson==3.8.7
oscrypto==1.3.0
packaging==21.3
paho-mqtt==1.6.1
pandas==1.4.4
pandas-stubs==1.5.3.230214
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pip==23.0.1
pkginfo==1.9.6
platformdirs==3.9.0
playsound==1.2.2
plotly==5.14.1
ply==3.11
portalocker==2.7.0
postgrest==0.10.6
posthog==3.0.1
pre-commit==3.3.3
prometheus-client==0.13.1
prompt-toolkit==3.0.20
proto-plus==1.22.2
protobuf
psutil==5.4.7
ptyprocess==0.7.0
pure-eval==0.2.2
pvrecorder==1.1.1
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyAudio==0.2.13
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.17
pydantic==1.10.5
pydub==0.25.1
Pygments==2.15.1
PyJWT==2.6.0
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-AVRouting==9.0.1
pyobjc-framework-BackgroundAssets==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExtensionKit==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-HealthKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalFX==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SafetyKit==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-SharedWithYou==9.0.1
pyobjc-framework-SharedWithYouCore==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-ThreadNetwork==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
PyOpenGL==3.1.5
pyOpenSSL==20.0.1
pyparsing==3.0.4
pyrsistent==0.18.0
PySDL2==0.9.15
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.5.1
python-gitlab==3.14.0
python-multipart==0.0.6
python-semantic-release==7.33.2
python-socketio==5.8.0
pytz==2022.7.1
pyu2f==0.1.5
PyYAML==6.0
pyzmq==22.3.0
pyzstd==0.15.4
qtconsole==5.3.0
QtPy==2.0.1
readme-renderer==37.3
realtime==1.0.0
regex==2022.10.31
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==13.3.5
rsa==4.9
sacrebleu==2.3.1
scikit-learn==1.2.2
scipy==1.10.0
semver==2.13.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
setuptools==58.0.4
#sip==4.19.13
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowflake-connector-python==3.0.1
sounddevice==0.4.6
soupsieve==2.3.1
SQLAlchemy==1.4.47
stack-data==0.2.0
starlette==0.25.0
storage3==0.5.2
StrEnum==0.4.10
supabase==1.0.3
supafunc==0.2.2
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
terminado==0.13.1
testpath==0.6.0
threadpoolctl==3.1.0
tiktoken==0.3.3
timm==0.6.12
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
toolz==0.12.0
torch==1.10.2
torchvision==0.11.3
tornado==6.1
tqdm==4.62.2
traitlets==5.1.1
transformers==4.27.3
twilio==7.15.3
twine==3.8.0
typer==0.8.0
types-pytz==2022.7.1.2
typing_extensions==4.5.0
typing-inspect==0.8.0
uc-micro-py==1.0.1
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.20.0
uvloop==0.17.0
virtualenv==20.24.0
watchfiles==0.18.1
wcwidth==0.2.5
webdataset==0.2.31
webencodings==0.5.1
websocket-client==1.6.1
websockets==10.4
Werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==3.5.2
yarl==1.8.2
zipp==3.15.0
zope.interface==6.0
zstandard==0.20.0